.root {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 35px;

  h3 {
    margin-left: 10px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.04px;
    height: 18px;
  }
}
